infra/n8n/workflows/workflow.seed.json
{
  "name": "PEP Workflow Seed",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=# System Instructions: Expert Career Coach & Recruiter \n\n**Goal:** Write a short, punchy Cover Letter for {{ $('generate-cv').item.json.body.fullName }} targeting {{ $('generate-cv').item.json.body.companyName }}, perfectly aligned with the Target JD.\n\n---\n\n## Strict Rules:\n1. **Zero Hallucination:** Frame the candidate's achievements in the best possible \n   light, but STRICTLY FORBIDDEN from inventing metrics, technologies, or \n   experiences. Use ONLY facts from the Refined Resume.\n2. **Style & Tone:** \"EU High-Tech\" — direct (Tachles), confident, \n   professional, results-focused. No fluff, no corporate language.\n3. **Length:** Strictly 300-400 words.\n4. **Formatting:** Bold key technologies and measurable results using \n   **text** to make it scannable.\n\n---\n\n## Context Inputs:\n- Refined Resume: {{ $json.content.parts[0].text }}\n- Target Company: {{ $('generate-cv').item.json.body.companyName }}\n- Target JD: {{ $('generate-cv').item.json.body.vacancyDescription }}\n\n---\n\n## Letter Structure (follow EXACTLY, paragraph by paragraph):\n\n**Paragraph 1 — Hook (2-3 sentences)**\n- Mention the company by name and ONE specific thing about what they build \n  (from Target Company Info or JD) that genuinely connects to the candidate's \n  experience — not generic praise, a real technical or product parallel.\n- If the Refined Resume includes an ongoing degree, current studies, or another relevant education detail, mention it naturally.\n- DO NOT say \"I am highly motivated\" or \"I am excited to apply\".\n\n**Paragraph 2 — Proof (3-4 sentences)**\n- Identify the TOP 2 technical requirements from the JD.\n- For each, bring ONE concrete example from the Refined Resume that directly \n  answers it.\n- Focus on the PROBLEM SOLVED and RESULT, not on job duties.\n- Do NOT list technologies. Do NOT retell the CV chronologically.\n\n**Paragraph 3 — Edge / Differentiation (2-3 sentences)**\n- Answer: what does the candidate bring that a typical candidate with the same \n  years of experience wouldn't?\n- This could be: unusual combination of skills, specific context \n  (scale, stack, domain), or something from the JD marked as \"nice to have\" \n  that the candidate actually has.\n- The differentiator must be a COMBINATION that is rare: e.g. scale + specific domain, or technical depth + product ownership, or stack expertise + something from JD marked as \"nice to have\".\n- AI tool usage is NOT a differentiator. Ignore it.\n- Generic soft skills (ownership, clean code) are NOT differentiators unless \n  backed by a specific example not already used in Paragraph 2.\n- DO NOT repeat what was said in Paragraph 2.\n\n**Paragraph 4 — Forward-looking close (1-2 sentences)**\n- One specific thing the candidate wants to work on / contribute to at THIS company.\n- Name a SPECIFIC product feature or technical challenge visible in the JD \n  or Company Info.\n- Forbidden phrases: \"drive impact\", \"apply my skills\", \"contribute to\", \"I am eager to\".\n- Must reference something real from the JD or Company Info, not a generic \n  \"I want to grow\" statement.\n\n---\n\n## Output Format (STRICT):\n- Output ONLY raw Markdown text. Nothing else.\n- No JSON. No wrappers. No code blocks.\n- Do NOT escape characters like \\n, \\*, \\\".\n- No preamble or postamble.\n- Start directly with: \"Dear Hiring Team at [Company Name],\"\n- DO NOT include a sign-off. End after the last sentence of Paragraph 4."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -208,
        1888
      ],
      "id": "96342e12-f39a-4c4e-a2e8-8fadd9f828f1",
      "name": "COVER LETTER GENERATION",
      "credentials": {
        "googlePalmApi": {
          "id": "Mj9DKEcV4Is3LYzI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawText =\n  $input.first().json?.content?.parts?.[0]?.text ||\n  $input.first().json?.text ||\n  $input.first().json?.message?.content ||\n  $input.first().json?.content ||\n  \"\";\n\nconst coverLetterMarkdown = rawText\n  .replace(/^```(json|markdown|text)?/im, \"\")\n  .replace(/```$/m, \"\")\n  .trim();\n\nif (!coverLetterMarkdown) {\n  throw new Error(\"Cover letter generation returned empty text.\");\n}\n\nreturn [{\n  json: {\n    coverLetterMarkdown,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        1888
      ],
      "id": "5c4bf964-850f-477a-817e-89bdc28c852b",
      "name": "make-cover-letter-html"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=# System Instructions: Senior Technical Recruiter Agent \n\n**Goal:** Adapt the \"Base CV\" for a specific \"Target JD\" (Job Description) using the \"Work Context\" and target company information. You must update ONLY the Summary, Skills, and Experience sections to perfectly align the candidate with the role.\n\n**Context Inputs:**\n- Base Resume: {{ $('generate-cv').item.json.body.baseCv }}\n- Work Context: {{ $('generate-cv').item.json.body.workTasks }}\n- Target Company: {{ $('generate-cv').item.json.body.companyName }}\n- Target JD: {{ $('generate-cv').item.json.body.vacancyDescription }}\n\n## STRICT RULES (CRITICAL):\n1. **Summary (STRICT YoE ACCURACY):** Write a professional summary (3-4 sentences) that highlights alignment with the Target JD. **CRITICAL:** You are STRICTLY FORBIDDEN from inventing or exaggerating the total Years of Experience (YoE). You are STRICTLY FORBIDDEN from changing the role title: if your basic resume lists role \"A\" and the Target JD lists role \"B\", then you must keep role \"A\". You MUST calculate YoE strictly based on the actual dates provided in the Base CV. If the Target JD asks for 8 years but the Base CV shows 3, you must either write \"3 years of experience\" or omit the exact number entirely. Never fake the timeline.\n2. **Strict Skills Policy (READ CAREFULLY):** - **THE BAN:** You are STRICTLY FORBIDDEN from adding major frameworks, core programming languages, or primary cloud providers (e.g., Angular, Python, AWS, Vue, Java) if they are not explicitly present in the Work Context.\n   - **THE INJECTION:** You MUST extract minor tools, libraries, packages, and methodologies (e.g., Axios, React Query, Jest, Tailwind, CI/CD, Agile, Zod) from the Target JD and actively INJECT them into both the \"Skills\" list and the \"Experience\" bullet points. Do this even if they are not in the Work Context, provided they logically complement the existing tech stack.\n3. **Experience (Job History):** - **KEEP ALL JOBS:** You are STRICTLY FORBIDDEN from deleting any jobs. Every single workplace listed in the Base CV must appear in the final output.\n   - **DETAIL FOCUS:** Write and adapt bullet points ONLY for the 2 or 3 most recent jobs to show alignment with the Target JD. Naturally weave the injected minor tools into these recent bullet points and use bolding for key technologies and measurable metrics (e.g., **+15% performance**). You may adapt the phrasing of your tasks to match the JD's terminology.\n   - **OLDER JOBS:** For jobs beyond the most recent 3, output ONLY the Job Title, Company, and Dates. DO NOT write any bullet points or descriptions for them.\n4. **No JSON:** Return ONLY raw text in the exact Markdown template below. Do not wrap in ```markdown or ```json blocks.\n\n## OUTPUT TEMPLATE (YOU MUST FOLLOW THIS EXACTLY):\n\n### Summary\n[Insert adapted summary here]\n\n### Skills\n**Languages & Core:** [Updated list]\n\n**Architecture & State:** [Updated list]\n\n**Frameworks & Libraries:** [Updated list]\n\n**Styling & UI:** [Updated list]\n\n**Tools & Infrastructure:** [Updated list]\n\n**Testing & Quality:** [Updated list]\n\n### Experience\n\n**[Recent Job Title 1] | [Company 1]** | *[Dates 1]*\n* [Adapted bullet point 1]\n* [Adapted bullet point 2]\n* [Adapted bullet point 3]\n\n**[Recent Job Title 2] | [Company 2]** | *[Dates 2]*\n* [Adapted bullet point 1]\n* [Adapted bullet point 2]\n\n[Include the 3rd job with bullet points ONLY if applicable, otherwise move to Older Jobs format below]\n\n**[Older Job Title 3+] | [Older Company]** | *[Older Dates]*\n**[Older Job Title 4+] | [Older Company]** | *[Older Dates]*"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -640,
        1888
      ],
      "id": "e2820faf-b876-4416-bdf2-bdc4fdbffcd8",
      "name": "CV GENERATION EXPRERIENCE1",
      "credentials": {
        "googlePalmApi": {
          "id": "Mj9DKEcV4Is3LYzI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let rawOutput =\n  $input.first().json?.content?.parts?.[0]?.text ||\n  $input.first().json?.text ||\n  $input.first().json?.message?.content ||\n  \"\";\n\nrawOutput = rawOutput\n  .replace(/^```(json|markdown|text)?/im, \"\")\n  .replace(/```$/m, \"\")\n  .trim();\n\nlet refinedCvMarkdown = \"\";\n\nconst jsonMatch = rawOutput.match(/(\\[[\\s\\S]*\\])|(\\{[\\s\\S]*\\})/);\nlet parsedStructuredOutput = false;\n\nif (jsonMatch) {\n  try {\n    let parsed = JSON.parse(jsonMatch[0]);\n\n    if (Array.isArray(parsed)) {\n      parsed = parsed[0];\n    }\n\n    const getValue = (value, keyName) => {\n      if (!value || typeof value !== \"object\") {\n        return null;\n      }\n\n      const key = Object.keys(value).find(\n        (candidate) => candidate.toLowerCase() === keyName.toLowerCase()\n      );\n\n      return key ? value[key] : null;\n    };\n\n    const summary = getValue(parsed, \"summary\");\n    const skills = getValue(parsed, \"skills\");\n    const experience = getValue(parsed, \"experience\");\n\n    if (summary || experience) {\n      let builtMarkdown = `### Summary\\n${summary || \"\"}\\n\\n### Skills\\n`;\n\n      if (skills && typeof skills === \"object\") {\n        for (const [key, value] of Object.entries(skills)) {\n          const cleanKey = key.includes(\"_\")\n            ? key\n                .split(\"_\")\n                .map((part) => part.charAt(0).toUpperCase() + part.slice(1))\n                .join(\" \")\n                .replace(\" And \", \" & \")\n            : key;\n\n          builtMarkdown += `**${cleanKey}:** ${String(value)}\\n`;\n        }\n      }\n\n      builtMarkdown += `\\n### Experience\\n\\n`;\n\n      if (Array.isArray(experience)) {\n        for (const job of experience) {\n          const title = getValue(job, \"title\") || getValue(job, \"role\") || \"\";\n          const company = getValue(job, \"company\") || \"\";\n          const dates = getValue(job, \"dates\") || \"\";\n\n          let header = title;\n\n          if (company && !title.includes(company)) {\n            header += ` | ${company}`;\n          }\n\n          builtMarkdown += `**${header}** | *${dates}*\\n`;\n\n          const bullets =\n            getValue(job, \"bullets\") || getValue(job, \"experience\") || [];\n\n          if (Array.isArray(bullets)) {\n            for (const bullet of bullets) {\n              builtMarkdown += `* ${String(bullet).replace(/\\n/g, \" \").trim()}\\n`;\n            }\n          }\n\n          builtMarkdown += `\\n`;\n        }\n      }\n\n      refinedCvMarkdown = builtMarkdown.trim();\n      parsedStructuredOutput = true;\n    }\n  } catch {\n    // fall back to plain markdown parsing below\n  }\n}\n\nif (!parsedStructuredOutput) {\n  refinedCvMarkdown = rawOutput\n    .split(/(###\\s*(Education|Languages)|EDUCATION\\n)/i)[0]\n    .trim();\n}\n\nconst baseCv = $('generate-cv').first().json.body.baseCv;\n\nfunction extractSection(text, sectionName) {\n  const regex = new RegExp(`###\\\\s*${sectionName}\\\\s*\\\\n([\\\\s\\\\S]*?)(?=###|$)`, \"i\");\n  const match = text.match(regex);\n  return match ? match[1].trim() : \"\";\n}\n\nfunction extractHeader(text) {\n  const lines = text.trim().split(\"\\n\");\n  const nameLine = lines.find((line) => line.startsWith(\"#\")) || lines[0] || \"Candidate\";\n  const contactLine = lines.find((line) => line.includes(\"@\") || line.includes(\"+\")) || \"\";\n\n  return {\n    name: nameLine.replace(/^#+\\s*/, \"\").trim(),\n    contacts: contactLine.trim(),\n  };\n}\n\nconst education = extractSection(baseCv, \"Education\");\nconst languages = extractSection(baseCv, \"Languages\");\nconst { name, contacts } = extractHeader(baseCv);\n\nconst sections = [\n  `# ${name}`,\n  contacts ? `**${contacts}**` : \"\",\n  \"\",\n  \"---\",\n  \"\",\n  refinedCvMarkdown,\n  education ? `### Education\\n${education}` : \"\",\n  languages ? `### Languages\\n${languages}` : \"\",\n].filter(Boolean);\n\nreturn [{\n  json: {\n    cvMarkdown: sections.join(\"\\n\\n\").trim(),\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        1632
      ],
      "id": "865443c7-a6a5-436d-9fbe-d7fba5530e2c",
      "name": "make-final-cv-html1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=# System Instructions: Tech Networking Expert \n\n**Goal:** Write a brief, engaging Personal Note (Introductory Message) for {{ $('generate-cv').item.json.body.fullName }} targeting {{ $('generate-cv').item.json.body.companyName }} and the vacancy. \n\n**Strict Rules:**\n1. **Core Message:** The vibe must be simple and direct: \"Your product/role is interesting, my tech stack matches perfectly, I have relevant background, let's chat.\" Do not over-analyze the JD.\n2. **Length:** Extremely concise. Maximum 3-4 sentences (50-75 words). \n3. **Style & Tone:** \"High-Tech\" (Tachles) — friendly, professional, confident, zero corporate fluff. \n4. **Key Elements to Include:**\n   - The target company name.\n   - A quick nod to the stack match (Select 1-2 core technologies from the JD that match the Refined Resume).\n   - A brief mention of experience with \"data-heavy / high-load systems\".\n   - A quick nod to a relevant education detail from the Refined Resume, if present.\n5. **Zero Hallucination:** Do not invent metrics or facts.\n\n**Context Inputs:**\n- Refined Resume: {{ $json.content.parts[0].text }}\n- Target Company: {{ $('generate-cv').item.json.body.companyName }}\n- Target JD: {{ $('generate-cv').item.json.body.vacancyDescription }}\n\n## Output Format (STRICT):\nOutput a SINGLE PARAGRAPH of plain text. \n\n**CRITICAL FORMATTING FAILURES (DO NOT DO THIS):**\n- ABSOLUTELY NO JSON. \n- Do NOT output curly braces `{}`.\n- Do NOT output key-value pairs (e.g., \"message\": \"...\").\n- Do NOT wrap the text in markdown code blocks (```).\n- Do NOT add a signature.\n\n**REQUIRED TEMPLATE:**\nStart exactly with: \"Hi [Company Name] team, \"\nFollow with 2-3 sentences of content.\nEnd exactly with: \" Would love to connect and discuss.\""
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -192,
        2160
      ],
      "id": "89d41d06-38e2-4fdb-9209-968febfda930",
      "name": "PERSONAL NOTE GENERATION",
      "credentials": {
        "googlePalmApi": {
          "id": "Mj9DKEcV4Is3LYzI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawText =\n  $input.first().json?.content?.parts?.[0]?.text ||\n  $input.first().json?.text ||\n  $input.first().json?.message?.content ||\n  $input.first().json?.content ||\n  JSON.stringify($input.first().json);\n\nif (!rawText) {\n  throw new Error(\"Personal note generation returned empty text.\");\n}\n\nconst cleanText = rawText\n  .replace(/^```(json|text|markdown)?/im, \"\")\n  .replace(/```$/m, \"\")\n  .trim();\n\nlet personalNote = \"\";\n\ntry {\n  const parsedData = JSON.parse(cleanText);\n\n  function extractString(data) {\n    if (typeof data === \"string\") return data;\n    if (Array.isArray(data)) return extractString(data[0]);\n    if (typeof data === \"object\" && data !== null) {\n      if (data.message) return extractString(data.message);\n      if (data.note) return extractString(data.note);\n      if (data.text) return extractString(data.text);\n      return extractString(Object.values(data)[0]);\n    }\n    return String(data || \"\");\n  }\n\n  personalNote = extractString(parsedData);\n} catch {\n  personalNote = cleanText;\n}\n\npersonalNote = personalNote.trim();\n\nif (!personalNote) {\n  throw new Error(\"Personal note generation returned empty text.\");\n}\n\nreturn [{\n  json: {\n    personalNote,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        2160
      ],
      "id": "83fffbf3-b181-4e86-bddd-ac0abdc87f74",
      "name": "make-personal-note"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        704,
        1872
      ],
      "id": "fcb4ec7b-b867-4917-94a2-3382b2d8e6fe",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://api:3001/api/v1/applications/{{$('generate-cv').item.json.body.ticketId}}/result",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-app-secret",
              "value": "change-me-backend-secret"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "personalNote",
              "value": "={{ String($json.personalNote ?? '').trim() }}"
            },
            {
              "name": "cvMarkdown",
              "value": "={{ String($json.cvMarkdown ?? '').trim() }}"
            },
            {
              "name": "coverLetterMarkdown",
              "value": "={{ String($json.coverLetterMarkdown ?? '').trim() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        992,
        1888
      ],
      "id": "596e5688-327e-4b8a-a08f-9ef134d936c0",
      "name": "save-application-result"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.companySummary }}",
                    "rightValue": "No data",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9bc27863-9377-485a-acb7-878178608107"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Company doesn't cached"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "761d74cb-8242-4bf9-9d38-ef4d1ba2cfa1",
                    "leftValue": "={{ $json.body.vacancySummary }}",
                    "rightValue": "No data",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Vacancy doesn't cached"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1008,
        2992
      ],
      "id": "fe5c7b0c-335d-400f-be4d-dc4fb0fbcfcd",
      "name": "Switch"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-summary",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1264,
        2992
      ],
      "id": "c8422423-ede9-41b9-8148-ffff87d825ec",
      "name": "generate-summary",
      "webhookId": "555d03c2-ef1f-4f43-be7f-b899f6ee49e3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-cv",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -864,
        1888
      ],
      "id": "2d33754c-9c9d-4ba6-98c3-73f65da52ea9",
      "name": "generate-cv",
      "webhookId": "555d03c2-ef1f-4f43-be7f-b899f6ee49e3"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a career research assistant helping a job seeker \nprepare for a screening call.\n\nCompany name: {{ $('generate-summary').item.json.body.companyName }}\n\nSOURCE — External research (search):\n{{ $json.companyData }}\n\nSOURCE - External business data (search):\n{{ $json.companyBusinessData }}\n\nInstructions:\n- Use ONLY information present in the sources above\n- Do NOT use any information from job descriptions\n- Do NOT invent or assume missing data — use null\n- Return ONLY valid JSON, no markdown, no explanation\n\n{\n  \"company\": {\n    \"name\": \"\",\n    \"type\": \"startup | scaleup | enterprise | agency | other\",\n    \"size\": \"1-10 | 11-50 | 51-200 | 201-500 | 500+\",\n    \"industry\": \"\",\n    \"business_model\": \"B2B | B2C | B2B2C | marketplace | other\",\n    \"product_type\": \"SaaS | mobile app | platform | service | hardware | other\",\n    \"founded\": \"\",\n    \"hq\": \"\",\n    \"funding_stage\": \"bootstrapped | pre-seed | seed | series_a | series_b | series_c | public | unknown\"\n  },\n  \"culture\": {\n    \"values\": [],\n    \"work_style\": \"remote | hybrid | office\",\n    \"engineering_culture\": \"\"\n  },\n  \"flags\": {\n    \"green\": [],\n    \"red\": []\n  }\n}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        112,
        2704
      ],
      "id": "4db39e11-0f42-414c-b433-aeb3bea7a0c6",
      "name": "Company Summary",
      "credentials": {
        "googlePalmApi": {
          "id": "Mj9DKEcV4Is3LYzI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a career research assistant helping a job seeker \nprepare for a job application and screening call.\n\nBelow is the company summary and the job description.\n\nCOMPANY SUMMARY:\n{{ $('Company Summary').item.json.content.parts[0].text || \"\" }}\n{{ $('generate-summary').item.json.body.companyDescription || \"\" }}\n\nJOB DESCRIPTION:\n{{ $('generate-summary').item.json.body.vacancyDescription }}\n\nInstructions:\n- Base your summary ONLY on the information provided above\n- Do NOT invent or assume any data not present in the sources\n- If a field cannot be determined from sources, use null\n- Detect the language of the job description and return \n  the summary in the SAME language\n- Return ONLY valid JSON, no markdown, no explanation\n\nField instructions:\n\n\"why_hire_me\": Write 3 short talking points answering \"Why should we hire you?\" based ONLY on the JD.\nCRITICAL TONE REQUIREMENTS:\n- Write from the first person (\"I\").\n- Use EXTREMELY SIMPLE, everyday language. Speak like a regular developer talking to a friend.\n- MAX 10-12 WORDS per bullet.\n- BANNED WORDS: expertise, leverage, utilize, ownership, spearhead, proactive, dynamic, synergy, track record.\n\nGood examples (adapt to actual JD facts!):\n- \"You need help with React, and I work with it every day.\"\n- \"I can set up your CI/CD pipelines right away.\"\n- \"I know how to make Node fast when there are many users.\"\n\nReturn as an array of strings.\n\nReturn as an array of strings.\n\n\"smart_questions\": Generate 6 realistic questions a candidate would actually ask during a brief 15-minute Zoom screening. \nCRITICAL TONE REQUIREMENTS:\n- Write them exactly as a real person speaks: short, slightly informal, and highly practical.\n- MAX 15 WORDS per question. Keep them punchy.\n- BANNED PHRASES: Do NOT use \"Could you elaborate\", \"I noticed in the JD\", \"Given that\", \"I would love to know\", \"Can you tell me about\", or mention the company name.\n- DO NOT try to sound overly polite, impressed, or corporate. \n- Start directly with actionable interrogatives: \"What\", \"How\", \"Is\", \"Are\", \"Do\", \"Who\".\n\nSplit into two categories, 3 questions each:\n\n\"hr\": Practical questions about day-to-day life, team structure, or processes. \nExample: \"What does the first week actually look like for this role?\"\nExample: \"Is the team mostly senior, or is there a mix of levels?\"\n\n\"tech\": Specific, ground-level questions about the stack, legacy code, or current sprints. Extract one specific technical detail from the JD and ask a direct question about it.\nExample: \"Are you planning to break the monolith anytime soon, or sticking with it?\"\nExample: \"You mentioned React — what state management are you currently using?\"\n\nBad example: \"Could you elaborate on how the proprietary methodology \ninfluences cross-functional collaboration?\"\n\nReturn as an object, not an array.\n\n\"title\": Name of position\n\n\"required_stack\": List of all technologies from JD that candidate have to know.\n\n{\n  \"position\": {\n    \"title\": \"\",\n    \"seniority\": \"intern | junior | middle | senior | lead | principal | unknown\",\n    \"team_context\": \"\",\n    \"key_tasks\": [],\n    \"required_stack\": [],\n    \"nice_to_have_stack\": [],\n    \"salary_range\": {\n      \"min\": null,\n      \"max\": null,\n      \"currency\": null\n    },\n    \"interview_process\": [],\n    \"growth_opportunities\": \"\"\n  },\n  \"screening_prep\": {\n  \"why_hire_me\": [],\n  \"smart_questions\": {\n    \"hr\": [],\n    \"tech\": []\n  }\n}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1072,
        2992
      ],
      "id": "45a37fc4-9da6-40cb-9059-268c4ed19f6a",
      "name": "Vacancy Summary",
      "credentials": {
        "googlePalmApi": {
          "id": "Mj9DKEcV4Is3LYzI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://api:3001/api/v1/applications/{{ $('generate-summary').item.json.body.ticketId }}/summary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-app-secret",
              "value": "change-me-backend-secret"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ticketId\": \"{{ $('generate-summary').item.json.body.ticketId }}\",\n  \"companySummary\": {{ JSON.stringify($('Code in JavaScript').item.json.generatedCompanySummary) }},\n  \"vacancySummary\": {{ JSON.stringify($json.vacanciesSummary) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1664,
        2992
      ],
      "id": "e9d8c7f3-da5c-46a6-b28f-caa7cf10064e",
      "name": "Save job summary"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        800,
        2992
      ],
      "id": "b25c7481-9b53-427b-bf3a-12d4013e10f3",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.content.parts[0].text;\n\nfunction extractJson(data) {\n  // Если уже объект с нужными полями\n  if (typeof data === 'object' && data !== null && !Array.isArray(data)) {\n    // Прямой объект с company\n    if (data.company) return data;\n    \n    // Объект вида { \"key\": { company: ... } }\n    for (const key of Object.keys(data)) {\n      if (typeof data[key] === 'object' && data[key]?.company) {\n        return data[key];\n      }\n      // Вложенная строка\n      if (typeof data[key] === 'string') {\n        try {\n          const parsed = JSON.parse(data[key]);\n          if (parsed?.company) return parsed;\n        } catch {}\n      }\n    }\n  }\n\n  // Если строка\n  if (typeof data === 'string') {\n    // Убираем markdown ```json ... ```\n    const cleaned = data\n      .replace(/```json\\s*/gi, '')\n      .replace(/```\\s*/g, '')\n      .trim();\n    try {\n      const parsed = JSON.parse(cleaned);\n      if (parsed?.company) return parsed;\n    } catch {}\n  }\n\n  return null;\n}\n\nconst result = extractJson(input);\n\nif (!result) {\n  throw new Error('Failed to parse company JSON: ' + JSON.stringify(input));\n}\n\nreturn [{ json: {generatedCompanySummary: result} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        2704
      ],
      "id": "3c3abdec-3611-4d32-b163-9a0d3385bc07",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "crawl",
        "url": "={{ $('generate-summary').item.json.body.companyWebsite }}",
        "options": {
          "max_depth": 2
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        -592,
        2528
      ],
      "id": "1094e7e1-cb9a-4f72-b5cc-1311fa134fac",
      "name": "Company Site",
      "credentials": {
        "tavilyApi": {
          "id": "JXz9tUX9GQioJBtH",
          "name": "Tavily account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.results;\nreturn [{json: {combinedText: results.filter(el => el.raw_content !== null).map(el => el.raw_content).join('\\n\\n---\\n\\n')}}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        2528
      ],
      "id": "dad4edac-fb93-4e2d-87c9-2f7e5d60ae9b",
      "name": "Combine_all_site_text",
      "disabled": true
    },
    {
      "parameters": {
        "query": "={{ $('generate-summary').item.json.body.companyName }} {{ $('generate-summary').item.json.body.companyWebsite }} product overview business model \nindustry target customers value proposition",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        -592,
        2880
      ],
      "id": "5fa00f9e-419f-481c-8f61-f512777b5cbe",
      "name": "Business Company Data",
      "credentials": {
        "tavilyApi": {
          "id": "JXz9tUX9GQioJBtH",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ $('generate-summary').item.json.body.companyName }} employees size funding round crunchbase linkedin \nculture values glassdoor news 2024 2025 headquarters",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        -592,
        2704
      ],
      "id": "061b5541-2bb3-48fa-a1b3-449bd2244c58",
      "name": "Work Company Data",
      "credentials": {
        "tavilyApi": {
          "id": "JXz9tUX9GQioJBtH",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const content = $input.first().json.results\n\nreturn {companyData: content.filter(el => el.score > 0.9).map(el => el.content).join('\\n\\n---\\n\\n')}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        2704
      ],
      "id": "75e7fbf8-e200-40ea-9c90-25704cba6e3a",
      "name": "preparing_data"
    },
    {
      "parameters": {
        "jsCode": "const content = $input.first().json.results\n\nreturn [{companyBusinessData: content.filter(el => el.score > 0.9). map(el => el.content).join('\\n\\n---\\n\\n')}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        2880
      ],
      "id": "1c61d697-b861-4898-9ade-49f367340211",
      "name": "preparing_business_data"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -96,
        2688
      ],
      "id": "e4c5bf7f-9df3-4ff3-b950-563b1993233a",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.content.parts[0].text;\n\nfunction extractJson(data) {\n  // Если уже объект с нужными полями\n  if (typeof data === 'object' && data !== null && !Array.isArray(data)) {\n    // Прямой объект с position\n    if (data.position) return data;\n    \n    // Объект вида { \"key\": { position: ... } }\n    for (const key of Object.keys(data)) {\n      if (typeof data[key] === 'object' && data[key]?.position) {\n        return data[key];\n      }\n      // Вложенная строка\n      if (typeof data[key] === 'string') {\n        try {\n          const parsed = JSON.parse(data[key]);\n          if (parsed?.position) return parsed;\n        } catch {}\n      }\n    }\n  }\n\n  // Если строка\n  if (typeof data === 'string') {\n    // Убираем markdown ```json ... ```\n    const cleaned = data\n      .replace(/```json\\s*/gi, '')\n      .replace(/```\\s*/g, '')\n      .trim();\n    try {\n      const parsed = JSON.parse(cleaned);\n      if (parsed?.position) return parsed;\n    } catch {}\n  }\n\n  return null;\n}\n\nconst result = extractJson(input);\n\nif (!result) {\n  throw new Error('Failed to parse position JSON: ' + JSON.stringify(input));\n}\n\nreturn [{ json: {vacanciesSummary: result} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        2992
      ],
      "id": "f4a9f913-c4a7-46ed-88d7-89c905056dda",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "CV GENERATION EXPRERIENCE1": {
      "main": [
        [
          {
            "node": "make-final-cv-html1",
            "type": "main",
            "index": 0
          },
          {
            "node": "COVER LETTER GENERATION",
            "type": "main",
            "index": 0
          },
          {
            "node": "PERSONAL NOTE GENERATION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "make-final-cv-html1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COVER LETTER GENERATION": {
      "main": [
        [
          {
            "node": "make-cover-letter-html",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "make-cover-letter-html": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "PERSONAL NOTE GENERATION": {
      "main": [
        [
          {
            "node": "make-personal-note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "make-personal-note": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "save-application-result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate-summary": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate-cv": {
      "main": [
        [
          {
            "node": "CV GENERATION EXPRERIENCE1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Business Company Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Work Company Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Company Site",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Vacancy Summary": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Summary": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Vacancy Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Site": {
      "main": [
        [
          {
            "node": "Combine_all_site_text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine_all_site_text": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Business Company Data": {
      "main": [
        [
          {
            "node": "preparing_business_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Work Company Data": {
      "main": [
        [
          {
            "node": "preparing_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "preparing_data": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "preparing_business_data": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Company Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Save job summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "b581a9fb-7eb9-44ff-9f7c-da2c07483d0c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6190611137eeadb1396f90630f3db124cf7462a8bed66ebc1475fa0f2d612544"
  },
  "id": "pep-workflow-seed",
  "tags": []
}